$color_1: white;
$color_2: #ffffff;
$color_3: #ff6060;
$color_4: #E3E3E3;
$background-color_1: #f1f1f185;
$background-color_2: #ff6060;

.slideshow{
	display: flex;
	position: relative;
}
.carousel {
	display: flex;
	height: 415px;
	width: 100%;
	flex-direction: column;
}
.imgCarousel {
	height: 100%;
	object-fit: cover;
	border-radius: 25px;
	width : 100%;
	z-index : 0;
}
.imgCarousel:hover {
	opacity: 1;
}
.chevronLeft {
	color: $color_1;
	z-index : 1;
	position: absolute;
	width: 4%;
	height: 14%;
	top : 43%;
	left : 1%;
}
.chevronRight {
	color: $color_1;
	z-index : 1;
	position: absolute;
	width: 4%;
	height: 14%;
	left : 95%;
	top : 43%;
}
.numImg {
	position: relative;
	color: $color_1;
	z-index : 1;
	left : 50%;
	bottom : 10%;
}
@media all and (max-width: 1000px) {
	// .carousel {
	// 	height: 355px;
	// 	//margin: auto;
	// 	width: 100%;
	// }
	// .imgCarousel {
	// 	border-radius: 15px;
	// 	margin : 0 0 0 0;
	// 	width: 84%;
	// }
	// .chevronRight {
	// 	right : 6%;
	// }
	// .chevronLeft {
	// 	left: 9%;
	// }
	// .numImg {
	// 	right: 50%;
	// 	bottom: 15%;
	// }
}
@media all and (max-width: 650px) {
	main{
		margin : 0 8%;
	}
	.slideshow{
		max-height: 255px;
	}
	.imgCarousel{
		max-height: 255px;
	}
}