$color_1: white;
$color_2: #ffffff;
$color_3: #ff6060;
$color_4: #E3E3E3;
$background-color_1: #f1f1f185;
$background-color_2: #ff6060;

main {
	max-width: 1440px;
	margin: auto;
}
.details {
	display: flex;
	width: 84%;
	margin-left: 8%;
	gap: 4%;
		ul {
			margin: 0;
			padding: 0;
			width: 88.5%;
		}
  .collapsible {
    width: 88.5%;
    .card-content {
      padding: 20px 18px;
      background-color: $background-color_1;
      font-size: 18px;
      border-radius: 5px;
      margin: 0;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $background-color_2;
      border: none;
      border-radius: 5px;
      margin: 25px 0 0 0;
    }
  }
}
.card-header {
	color: $color_2;
	font-size: 18px;
	font-weight: 700;
	padding: 10px 20px 10px 15px;
}
.card-content li {
  list-style: none;
}

@media all and (max-width: 1000px) {
	.details {
		flex-direction: column;
		width: 95%;
	}
	.collapsible {
		width: 90%;
	}
}
@media all and (max-width: 650px) {
	.card-header {
		font-size: 13px;
	}
	.details {
		.collapsible{
			.card-content {
				font-size: 12px;
			}
		}
	}
}