$color_1: #ffffff;
$background-color_1: #f1f1f185;
$background-color_2: #ff6060;
main {
	max-width: 1440px;
	margin: auto;
}
.imgBanniere {
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: brightness(60%);
	border-radius: 25px;
}
.valeurs {
	.card-content {
		padding: 10px 18px 10px 18px;
		background-color: $background-color_1;
		margin: 0 8% 0 8%;
		font-size: 18px;
		border-radius: 5px;
	}
	.card-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $background-color_2;
		border: none;
		border-radius: 5px;
		margin: 1% 8% 0 8%;
	}
}
.card-header {
	color: $color_1;
	font-size: 24px;
	font-weight: 700;
}

@media all and (max-width: 1000px) {
	.card-header {
		font-size: 18px;
	}
	.collapsible {
		width: 100%;
		.card-content {
			font-size: 14px;
		}
	}
}
@media all and (max-width: 650px) {
	.imgBanniere {
		height: 111px;
		margin: 0;
		border-radius: 10px;
	}
	.card-header {
		font-size: 13px;
		font-weight: 700;
	}
	.collapsible {
		.card-content {
			font-size: 12px;
			font-weight: 500;
		}
	}
}