/* BANNIERE */
.banniere {
    height: 223px;
    margin: 0 7% 3% 7%;
}
.imgBanniere {
    object-fit: cover;
    width: 97%;
    height: 100%;
    margin-left: 1.5%;
    filter: brightness(70%);
    border-radius: 25px;
}

/* COLLAPSE*/
.collapsible .card-content {
    padding: 10px 18px 10px 18px;
    background-color: #f1f1f185;
    margin: 0 15% 10px 14%;
    font-size: 18px;
    border-radius: 5px;
}
.collapsible .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    border: none;
    border-radius: 5px;
    margin: 25px 15% 0 14%;
    cursor: pointer;
}
.card-header {
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px 10px 15px;
}


@media all and (max-width: 1000px) {
	.card-header {
		font-size: 18px;
	}
	.collapsible .card-content {
		font-size: 14px;
	}
}
@media all and (max-width: 650px) {
    .banniere {
        width: 80%;
        height: 111px;
        margin-left: 52px;
    }
    .imgBanniere {
        height: 111px;
        margin: 0;
        border-radius: 10px;
    }
	.card-header {
		font-size: 13px;
        font-weight: 700;
	}
	.collapsible .card-content {
		font-size: 12px;
        font-weight: 500;
	}
}