/* HEADER */
.navbar {
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 50px;
	align-items: center;
}
.navbar__logo {
  height: 68px;
}
.btn-nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	font-weight: 500;
}
.btn-nav a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-left: 50px;
}
.btn-nav a :hover {
  border-bottom: black 2px solid;
  color: black
}