/* MAIN */
/* Bannière */
main {
  max-width: 1440px;
  margin: auto;
}
.banniere {
  height: 100%;
  margin: 0 7% 3% 7%;
}
.ImgBanniereHome {
  object-fit: cover;
  width: 97%;
  height: 100%;
  margin-left: 1.5%;
  filter: brightness(40%);
  border-radius: 25px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.20);
}
.textIntro {
  color: white;
  text-align: center;
  padding: 70px 20px;
  position: relative;
  top: -250px;
  font-weight: 700;
  font-size: 48px;
  font-family: 'Montserrat';
}
/* Locations */
.hebergements {
  background-color: rgba(246, 246, 246, 1);
  border-radius: 25px;
  margin: 0 120px;
} 
.groupe-chambres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0px 20px 50px;
}
.groupe-chambres a {
  text-decoration: none;
}
.cartes {
  display: flex;
  flex-direction: column-reverse;
  width: 340px;
  height: 340px;
  margin: 0 40px 30px 0;
}
.img {
  position: absolute;
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
}
.carte-titre {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 20px;
  margin: 0;
}

@media all and (max-width: 1000px) {
  .hebergements{
    margin-left: 7%;
  }
	.groupe-chambres {
    padding: 0;
    background-color: white;
    flex-direction: column;
	}  
  .cartes {
    width: 350px;
  }
  .img {
    width: 84%;
    margin-left: 1%;
    object-fit: cover;
  }
}
@media all and (max-width: 650px) {
  .banniere {
    width: 80%;
    height: 111px;
    margin-left: 52px;
  }
  .ImgBanniereHome {
    height: 111px;
    margin: 0;
    border-radius: 10px;
  }
  .textIntro {
    text-align: left;
    margin: 93px 100px 0 0;
		font-size: 24px;
	}
  .hebergements {
    margin: 20px 0 0 52px;
  }
  .img {
    width: 77%;
    margin: 0;
    object-fit: cover;
  }
}