main {
  max-width: 1440px;
  margin: auto;
}
.react-slideshow-container {
  margin-left: 8%;
  width: 84%;
  object-fit: cover;
}
.react-slideshow-wrapper.slide {
  border-radius: 15px;
}
.carousel {
  display: flex;
  align-items: flex-end;
  height: 415px;
}
.imgCarousel {
  width: 100%;
  max-width: 1210px;
  height: 415px;
  object-fit: cover;
  position: absolute;
}
.numImg {
  position: relative;
  margin: 0 0 30px 50%;
  color: white;
}
.details {
  display: flex;
  margin-left: 8%;
  gap: 3.5%;
}
.collapsible {
  width: 44%;
}
.collapsible .card-content {
  padding: 20px 18px;
  background-color: #f1f1f185;
  font-size: 18px;
  border-radius: 5px;
  margin: 0;
}
.collapsible .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border: none;
  border-radius: 5px;
  margin: 25px 0 0 0;
}
.card-header {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	padding: 10px 20px 10px 15px;
}
.card-content p {
  margin: 0 0 2px 0;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 84%;
  margin: 2% 0 0 8%;
}
.titreLogement h2 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 5px 0;
}
.titreLogement p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.tagLogement {
  display: flex;
}
.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  border-radius: 10px;
  height: 25px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 20px 10px 0 0;
  padding: 0 10px;
}
.fullStar{
  color : #ff6060;
}
.emptyStar {
  color: grey;
}
.Host {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.profilHost{
  display: flex;
  margin: 10px 0 10px 10px;
}
.nameHost{
  width: 83px;
  margin-right: 20px;
  color: #ff6060;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}
.imgHost {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  object-fit: cover;
}